
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 3px;
}

.logo img {
    width: 80px; 
    height: auto; 
    
}

.navbar {
  display: flex;
    /*  align-items:normal;
    */
}

.nav-link {
    display: flex;
     justify-content: center;
  /*  text-align: center; */
    width: 200px;
    
}

.nav-link a {
    width: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    padding: 2;
}

.nav-link a:hover {
    color: #ff9900;
}


.content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
